{% csrf_token %}
<a href="{% url 'login:logout' %}">Logout</a>

<form action="{% url 'qrcodes:home'%}" method="post" class="form">
    <div style="float:left;">
        <br>
        <a href="{% url 'qrcodes:new_web_qr' %}">Create new Web QR-Code</a>
        <ul>
            <br>
            <label>Web Qrcodes</label>
            {% for qrcode in qrcodes_web  %}
                {% if not qrcode.name == "" %}
                    <li>
                        <a href="{% url 'qrcodes:details' 'web' qrcode.qr_id %}">{{ qrcode.name }}</a>
                    </li>
                {% endif %}
            {% endfor  %}
        </ul>
    </div>


    <div style="float:left;">
        <br>
            <a href="{% url 'qrcodes:new_wifi_qr' %}">Create new WiFi QR-Code</a>
        <ul>
            <br>
            <label>WiFi Qrcodes</label>
            {% for qrcode in qrcodes_wifi  %}
                {% if not qrcode.name == "" %}
                    <li>
                        <a href="{% url 'qrcodes:details' 'wifi' qrcode.qr_id %}">{{ qrcode.name }}</a>
                    </li>
                {% endif %}
            {% endfor  %}
        </ul>
    </div>


    <div style="float:left;">
        <br>
            <a href="{% url 'qrcodes:new_vcard_qr' %}">Create new Vcard QR-Code</a>
        <ul>
            <br>
            <label>Vcard Qrcodes</label>
            {% for qrcode in qrcodes_vcard  %}
                {% if not qrcode.name == "" %}
                    <li>
                        <a href="{% url 'qrcodes:details' 'vcard' qrcode.qr_id %}">{{ qrcode.name }}</a>
                    </li>
                {% endif %}
            {% endfor  %}
        </ul>
    </div>
</form>


